.sec_two_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
    .sec_two {
        display: flex;
        flex-direction: column;
        width: 80%;
        row-gap: 4rem;

    }
    .nazv {
        display: flex;
        justify-content: space-between;
        .may {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            color: #6B7276;
            font-size: 24px;
        }
    }
}
.rasp_all {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
    .forbtn {
        align-self: center;
        justify-self: center;
        align-items: center;
        justify-content: center;
        button {
            background-color: transparent;
            border: none;
            color: #6B7276;
            cursor: pointer;
        }
    }
.rasp {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .classItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border-radius: 50px;
        border: 1px solid #6B727680;
        cursor: pointer;
        color: #6B7276;
        div:nth-child(1){
            width: 10%;
            justify-self: flex-start;
            font-weight: 600;
        }
        div:nth-child(2){
            width: 40%;
            font-weight: 600;
        }
        div:nth-child(3){
            width: 20%;
            font-weight: 400;
        }
        div:nth-child(4){
            width: 20%;
            font-weight: 400;
            
        }
        div:nth-child(5){
            width: 10%;
            button {
                border: none;
                background-color: transparent;
                color: #36B9EB;
                font-weight: 600;
            }
        }

    }

    .headers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        padding-top: 2rem;
        padding: 2rem;
        color: #6B7276;
        font-size: 16px;
        font-weight: 600;
                div:nth-child(1){
            width: 10%;
            justify-self: flex-start
        }
        div:nth-child(2){
            width: 40%;
        }
        div:nth-child(3){
            width: 20%;
        }
        div:nth-child(4){
            width: 20%;
        }
        div:nth-child(5){
            width: 10%;
        }
    }
}
.rasp_day {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    .day{
        display: flex;
        color: #6B7276;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div:nth-child(2){
            background-color: #6B727680;
            width: 90%;
            height: 1px;
        }
    }
}
.category {
     display: flex;
     justify-content: space-between;
     width: 90%;
     align-self: flex-start;
     button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 1px solid #6B7276;
        border-radius: 50px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        column-gap: 1rem;
        color: #6B7276;
        cursor: pointer;
     }

}