.sec_five_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F9F9F9;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .sec_five {
        display: flex;
        flex-direction: column;
        width: 80%;
        row-gap: 4rem;
        .navigation {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            column-gap: 2rem;
            .navbtns {
                display: flex;
                align-items: center;
                column-gap: 2rem;
                button {
                    padding: 1rem;
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;
                    cursor: pointer;
                    border: 1px solid #6B7276;
                    border-radius: 50%;
                }
            }
            .forline {
                width: 90%;
                height: 4px;
            }
        }
            
        .slide {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            
            p{
                color: #6B7276;
                font-size: 16px;
            }
        }
        .daycontainer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .forbtns {
                display: flex;
                column-gap: 2rem;
                align-items: center;
                button {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 1px solid #6B7276;
                        border-radius: 50px;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        padding-bottom: 1rem;
                        padding-top: 1rem;
                        column-gap: 1rem;
                        color: #6B7276;
                        
                        cursor: pointer;
                }
            }
            .day {
                display: flex;
                color: #6B7276;
                font-size: 24px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 2rem;
                width: 70%;
                padding: 2rem;
                p{
                    font-size: 80px;
                }
                div{
                    background-color: #6B7276;
                    width: 90%;
                    height: 1px;
                }
            }
        }
    }
}
