.phot {
    img {
        mix-blend-mode: darken;
    }
}
.sec_one_all {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .sec_one {
        display: flex;
        width: 80%;
        justify-content: space-between;
        .forphotos{
            display: flex;
            width: 50%;
            justify-content: space-between;
            .forcol {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        .fortext {
            width: 40%;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            p {
                color: #6B7276;
                font-size: 16px;
            }
        }
    }
}