.sec_two_all {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: white;
    p {
        color:#6B7276;
    }
    .medit {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #6B7276;
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #6B7276;
        text-transform: uppercase;
        justify-content: center;
        border-top: 1px solid #6B7276;   
    }
    .sec_two {
        display: flex;
        width: 80%;
        justify-content: space-between;
        .left {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            width: 50%;
            
        }
    }
}