*{
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: #6B7276;
    }
    body {
        background-color: #F9F9F9;
    }
}
.headerall {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    background-color: #F9F9F9;
    padding-bottom: 1.5rem;
    button {
        background-color: transparent;
        border: none;
    }
    .location {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        button {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        
        ul {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            li {
                display: flex;
                align-items: center;
                column-gap: 1rem;
            }
        }
    }
}