@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap") ;

*{
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
    font-family: "Cormorant Infant";
    a {
        text-decoration: none;
        color: #6B7276;
    }
    body {
        background-color: #F9F9F9;
    }
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    background-color: #F9F9F9;
    padding-bottom: 1.5rem;
    button {
        background-color: transparent;
        border: none;
    }
    .location {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        button {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        
        ul {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            li {
                display: flex;
                align-items: center;
                column-gap: 1rem;
            }
        }
    }
}