.sec_six_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F9F9F9;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #DBE0E8;
            .arenda {
            display: flex;
            justify-content: space-between;
            padding: 3rem;
            background-color: #FFFFFF;
            align-items: center;
            border-radius: 80px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            p{
                color: #6B7276;
            }
            p:nth-child(1){
                font-size: 56px;
            }
            button {

                align-items: center;
                background-color: transparent;
                border: 1px solid #6B7276;
                border-radius: 50px;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 1rem;
                padding-top: 1rem;
                column-gap: 1rem;
                color: #6B7276;   
                cursor: pointer;
            }
        }
    .lectionsall {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;

        .forimg {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .secs {
            display:flex;
            flex-direction: column;
            width: 28%;
            row-gap: 1rem;
            background-color: #FFFFFF;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 3rem;
            justify-content: center;
            border-radius: 80px;
            align-items: center;
            border-bottom-left-radius: 0;
            button {
                width: 50%;
                align-items: center;
                background-color: transparent;
                border: 1px solid #6B7276;
                border-radius: 50px;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 1rem;
                padding-top: 1rem;
                column-gap: 1rem;
                color: #6B7276;   
                cursor: pointer;
            }
            p{
                width: 90%;
            
            }
            
        }
    }
    .sec_six {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        .daycontainer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .forbtns {
                display: flex;
                column-gap: 2rem;
                align-items: center;
                button {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: 1px solid #6B7276;
                        border-radius: 50px;
                        padding-left: 2rem;
                        padding-right: 2rem;
                        padding-bottom: 1rem;
                        padding-top: 1rem;
                        column-gap: 1rem;
                        color: #6B7276;
                        
                        cursor: pointer;
                }
            }
            .day {
                display: flex;
                color: #6B7276;
                font-size: 24px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 2rem;
                width: 85%;
                margin-right: 2rem;
                p{
                    font-size: 80px;
                }
                div{
                    background-color: #6B7276;
                    width: 60%;
                    height: 1px;
                }
            }
        }
    }
}